:root {
  --green: #2e7d32;
  --green-dark: #1b5e20;
  --light: #e8f5e9;
  --bg: #f4fbf6;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background: var(--bg);
  color: #1a1a1a;
}

#startScreen {
  text-align: center;
}

/* ---------- HERO ---------- */
.hero {
  margin-top: 25px;
  padding: 80px 20px 60px;
  text-align: center;
  background: linear-gradient(135deg, #1b5e20, #2e7d32, #388e3c);
  color: #fff;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.hero h1 {
  font-size: 2.8rem;
}

.hero p {
  opacity: 0.9;
}

#mainContent {
  flex: 1;
}

.quiz-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* ---------- CARD ---------- */

.quiz-card {
  background: #fff;
  max-width: 520px;
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quiz-desc {
  color: #555;
  margin-bottom: 20px !important;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0px;
}

.option-btn {
  padding: 12px;
  border-radius: 10px;
  border: 2px solid var(--green);
  background: #e8f5e9;
  cursor: pointer;
  font-size: 15px;
}

.option-btn:hover {
  background: #c8e6c9;
}

.option-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#feedback {
  margin-top: 15px;
  font-weight: bold;
  min-height: 24px;
}

.quiz-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

#nextBtn {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background: var(--green);
  color: #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Ready screen special style */
.ready-card {
  text-align: center;
}

.start-btn {
  margin-top: 20px;
  padding: 12px 26px;
  border-radius: 30px;
  border: none;
  background: #2e7d32;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.start-btn:hover {
  background: #1b5e20;
}
