.calculator-wrapper {
  margin: 20px;
}
.calculator-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 12px;
}

.items button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.compost-bin {
  margin-top: 20px;
  width: 500px;
  background: #112917;
  padding: 15px;
  border-radius: 20px;
}

#compostItems li {
  list-style: none;
  font-size: 16px;
  color: white;
  margin: 5px 0;
}

.calc-result {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container section{
  margin: 10px 0;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #f9f9f9;
}
.container section:hover{
  transform: scale(1.05);
  transition: transform 0.3s;
}